@import "bootstrap";
@import "font-awesome";
@import "pagination";
@import "redactor-rails";
body {
  padding-top: 50px;
}

#menu li, #menu a {
    display: block;
    text-decoration: none;
    a {
      color: #444;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      padding: 10px 0px 10px 15px;
    }
}
ul {
    padding: 0px;
    margin: 0px;
    list-style: none outside none;
}

.arrow {
    float: right;
}

.glyphicon.arrow:before {
    content: "\e079";
}

.active > a > .glyphicon.arrow:before {
    content: "\e114";
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.plus-times {
    float: right;
}

.fa.plus-times:before {
    content: "\f067";
}

.active > a > .fa.plus-times {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.plus-minus {
    float: right;
}

.fa.plus-minus:before {
    content: "\f067";
}

.active > a > .fa.plus-minus:before {
    content: "\f068";
}

.blog-post-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
}
.blog-post-meta {
  list-style: none;
  margin-bottom: 5px;
  color: #999;
}
.meta-item {
  display: inline;
  padding-right: 20px;
}
.meta-item a {
  color: #999;
}
.blog-post-body {
  padding: 5px;
  cursor: default;
  img {
    padding: 3px;
    border: 1px solid #d8d8d8;
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

pre {
  overflow: auto;
  padding: 10px;
  color: #cccccc;
  font-size: 15px;
  background-color: #272822;
}
.site-footer {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
}

.page-tool-bar {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 1em;
}
