.post,
.post-body {
  overflow: hidden;
  zoom: 1;
}
.post {
  position: relative;
  display: block;
  margin-top: 50px;
  padding-top: 30px;
  /* padding-bottom: 30px; */
  border-top: 1px solid #f2f2f0;
  word-wrap: break-word;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.post:first-of-type {
  border-top: none;
}
.pager + .post {
  border-top: none;
}
.post,
.post .post {
  margin-top: 15px;
}
.post:first-child {
  margin-top: 0;
}
.post-body {
  font-family: "Bitter", Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}
.post-object {
  display: block;
  border-radius: 100px;
}
.post-heading {
  color: #222222;
  font-weight: 700;
  margin: 0 0 5px;
}
.post-heading:hover {
  color: #444444;
}
.post-body a,
.post-body a:hover,
.post-body a:focus {
  color: #444444;
  text-decoration: none;
  outline: none;
}
.post-footer {
  font-size: 16px;
  padding: 15px 0;
}
.post-footer a,
.post-footer a:hover,
.post-footer a:focus {
  color: #444444;
}
.post > .pull-left {
  margin-right: 10px;
}
.post > .pull-right {
  margin-left: 10px;
}
.post-list {
  padding-left: 0;
  list-style: none;
}
