<%if bcv_updated?(@when_bcv_updated) %>
  <div class="alert alert-success" role="alert">
    BCV已经更新。
  </div>
<% else %>
  <div class="alert alert-warning">
    注意BCV没有更新！
  </div>
<% end %>
<div class="alert alert-info">
  <i class="fa fa-history">&nbspBCV更新于：</i><%=  @when_bcv_updated %>
</div>
<% if dblink_bill2crm_existed? %>
   <div class="alert alert-success">
     数据库链接正常。
   </div>
<% else %>
   <div class="alert alert-danger">
     数据库链接不存在，<%= link_to "立即创建", dblink_path %>吗？
   </div>
<% end %>
